
<div class="d-flex justify-content-between header position-fixed" style="width:
  100%;">
  <div class="logo h-60">
    <img src="/imgs/logo.png" alt="">
  </div>


  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid navbar">
      <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="/">LỊCH THI ĐẤU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="/rank">BẢNG XẾP
              HẠNG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="/result">CÁC KẾT QUẢ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="/listclubs">CÁC ĐỘI BÓNG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="#">BÌNH CHỌN
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active acustom" aria-current="page" href="/searchFootballPlayer">CẦU THỦ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <nav class="navbar sign">
    <div class="container-fluid nav">
      <a class="navbar-brand sign-in acustom">Đăng nhập</a>

      <div class="line"></div>
      <a class="navbar-brand sign-up acustom">Đăng ký</a>
    </div>
  </nav>
</div>
