
<div class="d-flex justify-content-between header">
  <div class="logo h-60">
    <img src="/imgs/logo.png" alt="">
  </div>

  <div class="navbar navbarcustom">
    <nav class="nav nav-pills flex-column flex-sm-row justify-content-between">
      <a class="flex-sm-fill text-sm-center acustom nav-link" aria-current="page" href="#">Lịch thi đấu</a>
      <a class="flex-sm-fill text-sm-center acustom nav-link" href="#">Bảng xếp hạng</a>
      <a class="flex-sm-fill text-sm-center acustom nav-link" href="#">Bảng kết quả</a>
      <a class="flex-sm-fill text-sm-center acustom nav-link" href="#">Các đội bóng</a>
      <a class="flex-sm-fill text-sm-center acustom nav-link" href="#">Bình chọn</a>
    </nav>
  </div>

  <div class="navbar navbarcustom sign d-flex">

      <a id="sign-in" class="bg-danger" aria-current="page" href="#">Đăng nhập</a>
      <div class="line"></div>
      <a id="sign-up" class="bg-light" href="#">Đăng ký</a>
  </div>

</div>

