<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2 my-auto">
                <p class="px-auto ">22:00</p>
            </div>
            <div class="col-sm-2  border-start">
                <div class=" row">
                    <img src="https://upload.wikimedia.org/wikipedia/vi/4/43/Binh_Dinh_FC_logo.svg" alt="">
                </div>
                <div class="row">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/24/Hanoi_FC_logo.svg/800px-Hanoi_FC_logo.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-sm-6  border-end">
                <div class=" row mt-1">
                    <p>Bình Định FC</p>
                </div>
                <div class="row mt-1">
                    <p>Hà Nội FC</p>
                </div>
            </div>
                        <div class="col-sm-2">
                <div class=" row mt-1">
                    <p class="mx-auto"> - </p>
                </div>
                <div class="row mt-1">
                    <p class="mx-auto"> - </p>
                </div>
            </div>

        </div>
    </div>
</div>