<div class="container p-100">
    <div class="row">
        <h5 class="headerBody center-horizontal">CẬP NHẬP TỈ SỐ</h5>
    </div>

    <div class="card text-center my-1">

        <div class="card-body">
            <div class="row">
                {{>chitiettrandau match}}
            </div>
            <div class="row">
                <div class="col-6">
                    {{>tiso club=club1 rule=rule}}
                </div>
                <div class="col-6">
                    {{>tiso club=club2 rule=rule}}
                </div>

            </div>
        </div>
    </div>
</div>