<div class="container p-100">
    <div class="row">
        {{#if user.author}}
        <h5 class="headerBody center-horizontal">CẬP NHẬP TỈ SỐ</h5>
        {{else}}
        <h5 class="headerBody center-horizontal">CHI TIẾT TRẬN ĐẤU</h5>
        {{/if}}
    </div>
<div>{{match.rs}}</div>
    <div class="card text-center my-1">

        <div class="card-body">
            <div class="row">
                {{>chitiettrandau match=match club1=club1 club2=club2}}
            </div>

            {{#if (ifInIf user.author match.rs)}}
            <form action="/manage/start-match" method="post">
                <input type="text" name="match" value="{{match.id}}" style="display: none">
                <div class="row">
                    <div class="col-8 mx-auto mt-2">
                        <button class="btn btn-success" type="submit">
                            BẮT ĐẦU CẬP NHẬP
                        </button>
                    </div>
                    </div>
            </form>
            {{/if}}
            {{#if (elseInif user.author match.rs)}}
            <div class="row">
                <div class="col-6">
                    {{>tiso club=club1 rule=rule match=match}}
                </div>
                <div class="col-6">
                    {{>tiso club=club2 rule=rule match=match}}
                </div>

            </div>

            {{/if}}
        </div>
    </div>
</div>