<div class="container p-100">
    <div class="row">
        <h5 class="headerBody center-horizontal">LỊCH THI ĐẤU</h5>
    </div>
    <div class="col-10 card text-center my-1 mx-auto">
        <div class="card-body p-2 p-sm-3">
            <nav style="margin: auto; max-width:800px">
                <div class="nav nav-tabs " id="nav-tab" role="tablist" style="background-color: rgba(240, 248, 255, 0.497);width:
                    fit-content;">
                    <button class="nav-link active border" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-all" type="button" role="presentation" aria-controls="nav-all"
                        aria-selected="true" style="width: 114px; color: black;">
                        Tất cả
                    </button>

                    {{#if date1}}
                    <button class="nav-link border" id="nav-home-tab1" data-bs-toggle="tab" data-bs-target="#nav-home1"
                        type="button" role="tab" aria-controls="nav-home1" aria-selected="true"
                        style="color: black;">{{date1}}</button>
                    {{/if}}

                    {{#if date2}}
                    <button class="nav-link border" id="nav-home-tab2" data-bs-toggle="tab" data-bs-target="#nav-home2"
                        type="button" role="tab" aria-controls="nav-home2" aria-selected="false"
                        style="color: black;">{{date2}}</button>
                    {{/if}}

                    {{#if date3}}
                    <button class="nav-link border" id="nav-home-tab3" data-bs-toggle="tab" data-bs-target="#nav-home3"
                        type="button" role="tab" aria-controls="nav-home3" aria-selected="false"
                        style="color: black;">{{date3}}</button>
                    {{/if}}

                </div>
            </nav>
            <hr style="margin-top: 0;" class="mx-auto"/>
            <div class="tab-content" id="nav-tabContent">
                {{#if AllMatchs}}
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-home-tab">
                    {{#each AllMatchs}}
                    {{#each this}}
                    {{>renderDSTranDau this}}
                    {{/each}}
                    {{/each}}
                </div>
                {{/if}}

                {{#if match1}}
                <div class="tab-pane fade show" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab">
                    {{#each match1}}
                    {{>renderDSTranDau this}}
                    {{/each}}
                </div>
                {{/if}}

                {{#if match2}}
                <div class="tab-pane fade" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab">
                    {{#each match2}}
                    {{>renderDSTranDau this}}
                    {{/each}}
                </div>
                {{/if}}

                {{#if match3}}
                <div class="tab-pane fade" id="nav-home3" role="tabpanel" aria-labelledby="nav-home-tab">
                    {{#each match3}}
                    {{>renderDSTranDau this}}
                    {{/each}}
                </div>
                {{/if}}

            </div>
        </div>

    </div>
</div>