<style>
    .home
    {
        padding: 50px;
        margin: 0;
        width: 100%;
        padding-top: 100px;
    }
    .col
    {
        margin-left: 50px;
    }

    .row .col:first-child{
        border-right: 2px solid white;
    }

    div{
        color: white;
    }

    h2
    {
        margin: 50px 0;
    }

    p{
        margin: 50px 0;
    }

    h6
    {
        margin: 50px 0;
    }

</style>


<div class="home" >
  <div class="row">
    <div class="col">
      <img src="imgs/homeimage.png" alt="" srcset="" style="width: 100%; object-fit: contain;">
    </div>
    <div class="col">
        <h2>GIỚI THIỆU GIẢI ĐẤU VLEAGUE</h2>
        <p>
            Giải bóng đá vô địch quốc gia Việt Nam là giải đấu bóng đá chuyên nghiệp cao nhất Việt Nam, 
            do Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam điều hành. Giải đấu bao gồm 14 đội thi đấu theo 
            thể thức đấu vòng tròn sân nhà và sân khách. Đội bóng đứng đầu bảng ở cuối mùa giải được dự AFC Champions 
            League mùa sau.
        </p>
        <h6>Ngày thành lập: 1980.</h6>
        <h6>Cơ quan tổ chức: VPF.</h6>

        <img src="imgs/logo.png" alt="">
    </div>
  </div>
</div>