<div class="vh-100" style="margin: 0; align-item:center; padding: 30px; padding-top:100px; background: linear-gradient(to right, #372554, #042134)">
    <div class="text-center" style="padding: 20px; width: 450px; 
        background-color: #8268E9;border-radius: 35px; margin:auto;
        font-size: 20px; margin-bottom: 20px">
        CÁC ĐỘI BÓNG THAM DỰ GIẢI ĐẤU
    </div>

    <div class="list-film text-center" style=" padding-top: 30px;">
        <div class="container">
            <div class="row row-cols-4 text-center" style="padding-bottom: 10px;">
                {{#each clubs}}
                <a href="/detail-club/{{this.name}}" class="col" style="text-decoration:none; ">
                    <div class="card" style="width: 18rem; padding: 15px 0; margin-top: 30px" >
                        {{!-- Logo CLB --}}
                        <img src="{{this.logo}}" class="card-img-top" alt="..."  style="height:200px; object-fit:contain">
                        <div class="card-body">
                            {{!-- Tên câu lạc bộ --}}
                            <h5 class="card-title">{{this.name}}</h5>
                        </div>
                    </div>
                </a>
                {{/each}}

            </div>

        </div>
    </div>
</div>