<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-19 col-lg-8 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-bold fs-3">ĐĂNG KÝ</h5>
                    <form class="row g-3">
                        <div class="col-12 form-floating mb-3">
                            <input type="email" class="form-control" id="inputMail" placeholder="Email">
                            <label for="inputMail" class="form-label">Email</label>
                        </div>

                        <div class="col-md-6 form-floating mb-3">
                            <input type="password" class="form-control" id="inputpassword" placeholder="Mật Khẩu">
                            <label for="inputpassword">Mật Khẩu</label>
                        </div>
                        <div class="col-md-6 form-floating mb-3">

                            <input type="password" class="form-control" id="inputPasswordRT"
                                placeholder="Nhập lại mật khẩu">
                            <label for="inputPasswordRT" class="form-label">Nhập lại mật khẩu</label>
                        </div>

                        <div class="col-12 form-floating mb-3">
                            <input type="text" class="form-control" id="inputFullName" placeholder="Họ và tên">
                            <label for="inputFullName" class="form-label">Họ và tên</label>
                        </div>


                        <div class="col-md-4 mb-3">
                            <label for="inputbirthday" class="form-label">Ngày sinh</label>
                            <input type="date" class="form-control" id="inputbirthday">
                        </div>
                        <div class="col-md-1"></div>
                        <fieldset class="col-md-3 mb-2">
                            <legend class="col-form-label col-sm-5">Giới tính</legend>
                            <div class="row">
                                <div class="col-sm-4 form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="Nam">
                                    <label class="form-check-label" for="gridRadios1">Nam</label>
                                </div>
                                <div class="col-sm-4 form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="Nu">
                                    <label class="form-check-label" for="gridRadios2">Nữ</label>
                                </div>
                            </div>
                        </fieldset>


                        <div class="col-md-4 mb-2">
                            <label for="inputState" class="form-label">Vai trò</label>
                            <select id="inputState" class="form-select">
                                <option>Khán Giả</option>
                                <option>Câu Lạc Bộ</option>
                                <option>Ban Quản Lý Giải</option>
                            </select>
                        </div>

                        <div class="col-12 form-floating mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Tôi Đồng ý với chính sách của nhà phát triển.
                                </label>
                            </div>
                        </div>


                        <div class="d-grid">
                            <button name="login" value="login" class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit">ĐĂNG KÝ</button>
                        </div>
                        <hr class="my-4">
                        <h6 class="card-title text-center mt-2 fw-light fs-6">Bạn đã có tài khoản, Đăng nhập
                            tại: </h6>
                        <div class="d-grid">
                            <button name='login' value="signin"
                                class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">ĐĂNG NHẬP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>