<div class="container p-100">
    <div class="row">
        <div class="col-5  mx-auto ">
            <h5 class="text-center rounded-3 py-3 mt-3 text-light" style="background-color: rgb(36, 106, 203); display: block;
">TẠO GIẢI ĐẤU</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-19 col-lg-10 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <form class="row g-3">
                        <div class="col-12 form-floating mb-3">
                            <input type="text" class="form-control" id="inputCLB" placeholder="Tên giải đấu">
                            <label for="inputCLB" class="form-label">Tên giải đấu</label>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-md-6 form-floating mb-3">
                            <input name="dotuoitoithieu" type="number" class="form-control" id="inputDTTT"
                                placeholder="Độ tuổi cầu thủ tối thiểu" value="">
                            <label for="inputDTTT">Độ tuổi cầu thủ tối thiểu</label>
                        </div>
                        <div class="col-md-6 form-floating mb-3">

                            <input name="dotuoitoida" type="number" class="form-control" id="inputDTTD"
                                placeholder="Độ tuổi cầu thủ tối đa" value="">
                            <label for="inputDTTD" class="form-label">Độ tuổi cầu thủ tối đa</label>
                        </div>

                        <div class="col-md-6 form-floating mb-3">
                            <input name="socauthumin" type="number" class="form-control" id="inputSCTMin"
                                placeholder="Số cầu thủ CLB tối thiểu" value="">
                            <label for="inputSCTMin">Số cầu thủ CLB tối thiểu</label>
                        </div>
                        <div class="col-md-6 form-floating mb-3">

                            <input name="socauthumax" type="number" class="form-control" id="inputSCTMax"
                                placeholder="Số cầu thủ CLB tối đa" value="">
                            <label for="inputSCTMax" class="form-label">Số cầu thủ CLB tối đa</label>
                        </div>

                        <div class="col-3 form-floating mb-3">
                            <input type="text" class="form-control" id="inputFullName" placeholder="Số ngoại binh">
                            <label for="inputFullName" class="form-label">Số ngoại binh</label>
                        </div>


                        <div class="col-3 form-floating mb-3">
                            <select class="select" multiple>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                            </select>
                            <label class="form-label select-label">Example label</label>
                        </div>
                        <div class="col-3 form-floating mb-3">
                            <input type="text" class="form-control" id="inputFullName"
                                placeholder="Thời điểm ghi bàn tối đa">
                            <label for="inputFullName" class="form-label">Thời điểm ghi bàn tối đa</label>
                        </div>




                        <div class="d-grid">
                            <button name="login" value="login" class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>