<div class="container p-100">
    <div class="row">
        <h5 class="headerBody center-horizontal" style="width: 450px !important;">TÙY CHỈNH LỊCH THI ĐẤU</h5>
    </div>


    {{#if AllMatchs}}
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-home-tab">
        {{#each AllMatchs}}
            {{>chinhsuathongtintrandau this}}

        {{/each}}
    </div>
    {{else}}
    <form method="post" action="/manage/createSchedule">
        <div class="row mx-auto">
            <input class="col-5 mx-auto" type="date" name="dateStart" class="datepicker" data-date-format="mm/dd/yyyy" value="{{dateStart}}">
            <div class ="col-3">
            <button type="submit" class="btn btn-secondary" style="width: 75%">TẠO LỊCH</button>
        </div>
        </div>
        
    </form>
    {{/if}}

</div>